services:
  lnd-maker:
    image: lightninglabs/lnd:v0.18.0-beta
    dns:
      - 1.1.1.1
      - 8.8.8.8
    command:
      - "--alias=maker"
      - "--debuglevel=info"
      - "--listen=0.0.0.0:9735"
      - "--rpclisten=0.0.0.0:10009"
      - "--restlisten=0.0.0.0:8080"
      - "--bitcoin.active"
      - "--bitcoin.mainnet"
      - "--bitcoin.node=neutrino"
      # Required for neutrino on mainnet (fee estimation source).
      - "--fee.url=https://nodes.lightning.computer/fees/v1/btc-fee-estimates.json"
      # Public neutrino peers (compact filters). Override locally if you run your own.
      - "--neutrino.addpeer=btcd1.lnolymp.us:8333"
      - "--neutrino.addpeer=btcd2.lnolymp.us:8333"
      - "--neutrino.addpeer=bb1.breez.technology:8333"
      - "--neutrino.addpeer=bb2.breez.technology:8333"
      - "--neutrino.addpeer=neutrino.shock.network:8333"
      - "--neutrino.addpeer=uswest.blixtwallet.com:8333"
    volumes:
      - lnd_maker_datadir:/root/.lnd

  lnd-taker:
    image: lightninglabs/lnd:v0.18.0-beta
    dns:
      - 1.1.1.1
      - 8.8.8.8
    command:
      - "--alias=taker"
      - "--debuglevel=info"
      - "--listen=0.0.0.0:9735"
      - "--rpclisten=0.0.0.0:10009"
      - "--restlisten=0.0.0.0:8080"
      - "--bitcoin.active"
      - "--bitcoin.mainnet"
      - "--bitcoin.node=neutrino"
      # Required for neutrino on mainnet (fee estimation source).
      - "--fee.url=https://nodes.lightning.computer/fees/v1/btc-fee-estimates.json"
      # Public neutrino peers (compact filters). Override locally if you run your own.
      - "--neutrino.addpeer=btcd1.lnolymp.us:8333"
      - "--neutrino.addpeer=btcd2.lnolymp.us:8333"
      - "--neutrino.addpeer=bb1.breez.technology:8333"
      - "--neutrino.addpeer=bb2.breez.technology:8333"
      - "--neutrino.addpeer=neutrino.shock.network:8333"
      - "--neutrino.addpeer=uswest.blixtwallet.com:8333"
    volumes:
      - lnd_taker_datadir:/root/.lnd

volumes:
  lnd_maker_datadir: {}
  lnd_taker_datadir: {}
