body {
  background: #0d1117;
  color: white;
  font-family: Arial;
  text-align: center;
}

.container {
  margin-top: 100px;
}

input {
  padding: 10px;
  width: 250px;
  border-radius: 8px;
  border: none;
}

button {
  margin: 8px;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #238636;
  color: white;
}

button:hover {
  background: #2ea043;
}

#output {
  margin-top: 20px;
  font-size: 18px;
}
